<!DOCTYPE html>
<html>
<head>
<title>Restaurant</title>
<meta charset="utf-8">
    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'restaurant/layout.css' %}" type="text/css">
    <script src="{% static 'restaurant/sorttable.js' %}"></script>
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1>Restaurant</h1>
	  <h2>Welcome, {{ user.get_full_name }}</h2>
    </div>
    <nav>
      <ul>
          <li><a href="{% url 'restaurant:guest' guest.id %}">Home</a></li>
          <li><a href="{% url 'restaurant:restaurantlist' guest.id %}">Restaurants</a></li>
          <li><a href="{% url 'restaurant:friends' guest.id %}">Friends</a></li>
          <li><a href="{% url 'restaurant:profile' guest.id %}">Profile</a></li>
          <li class="last"><a href="{% url 'restaurant:logout' %}">Log Out</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
        <h1>Friends</h1>
        <br />
        <br />
        <table id="visits" class="sortable">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email address</th>
                <th>Number of Visits</th>
                <th>Remove Friend</th>
            </thead>
            {% for friend, visits in friends %}
                <tr>
                    <td>{{ friend.user.first_name }}</td>
                    <td>{{ friend.user.last_name }}</td>
                    <td>{{ friend.user.email }}</td>
                    <td>{{ visits }}</td>
                    <td><a href="{% url 'restaurant:disconnect' guest.id friend.id %}"><button id="delete">Remove</button></a></td>
                </tr>
            {% endfor %}
        </table>
        <br />
        <br />
        <br />
        <h2>Search for friends</h2>
        <br />
        {% if error_message %}<p id="error">{{ error_message }}</p>{% endif %}
        <br />
        <form action="{% url 'restaurant:search' guest.id %}" method="post" class="menu_item">
              {% csrf_token %}
              <br />
              <input id = "name" name = "name" type="text" required placeholder="Search Users">
              <br />
              <input type="submit" id = "sf_submit" value="Search">
              <br />
        </form>
        <br />
        <br />
        {% if connections %}
            <h3>Found Users</h3>
            <br />
            <br />
            <table id="visits" class="sortable">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email address</th>
                <th>Make Friend</th>
            </thead>
            {% for connection in connections %}
                <tr>
                    <td>{{ connection.user.first_name }}</td>
                    <td>{{ connection.user.last_name }}</td>
                    <td>{{ connection.user.email }}</td>
                    <td><a href="{% url 'restaurant:connect' guest.id connection.id %}"><button id="delete">Connect</button></a></td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </section>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Internet Software Architectures 2015/16</p>
    <p class="fl_right">Dragan Vidaković RA 134/2012</p>
  </footer>
</div>
</body>
</html>
