<!DOCTYPE html>
<html>
<head>
<title>Restaurant</title>
<meta charset="utf-8">
    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'restaurant/layout.css' %}" type="text/css">
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1>Restaurant</h1>
	  <h2>Welcome to our website</h2>
    </div>
    <nav>
      <ul>
        <li class="last"><a href="/admin">Administrator</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
      <figure><img src="{% static 'restaurant/images/title.jpg' %}" alt="">
        <figcaption>
          <form action="{% url 'restaurant:login' %}" method="post">
              {% csrf_token %}
              <br />
              <input name = "username" type="email" placeholder="Email address" required>
              <br />
              <input name = "password" type="password" placeholder="Password" required>
              <br />
              <input type="submit" id = "sf_submit" value="Log In">
              <br />
              <a id = "register" href="{% url 'restaurant:register' %}">Don't have an account? Click here to Register</a>
              <br />
          </form>
            {% if error_message %}<p id="error">{{ error_message }}</p> {% endif %}
            {% if info_message %}<p id="info">{{ info_message }}</p> {% endif %}
        </figcaption>
      </figure>
    </section>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Internet Software Architectures 2015/16</p>
    <p class="fl_right">Dragan Vidaković RA 134/2012</p>
  </footer>
</div>
</body>
</html>
