<!DOCTYPE html>
<html>
<head>
<title>Restaurant</title>
<meta charset="utf-8">
    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'restaurant/layout.css' %}" type="text/css">
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1>Restaurant</h1>
	  <h2>Welcome, {{ user.get_full_name }}</h2>
    </div>
    <nav>
      <ul>
          <li><a href="{% url 'restaurant:guest' guest.id %}">Home</a></li>
          <li><a href="{% url 'restaurant:restaurantlist' guest.id %}">Restaurants</a></li>
          <li><a href="{% url 'restaurant:friends' guest.id %}">Friends</a></li>
          <li><a href="{% url 'restaurant:profile' guest.id %}">Profile</a></li>
          <li class="last"><a href="{% url 'restaurant:logout' %}">Log Out</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
        <h1>Rate visit</h1>
        <br />
        <br />
        <h3><i>Restaurant:</i></h3><h2> {{ visit.reservation.restaurant.name }}</h2>
        <br />
        <h3><i>Date and Time:</i></h3><h2> {{ visit.reservation.coming }} </h2>
        <br />
        <h3><i>Duration:</i></h3><h2> {{ visit.reservation.duration }} hours</h2>
        <br />
        {% if friends %}
            <h3><i>Friends:</i></h3>
            <h2>
                {% for friend in friends %}
                    {{ friend.guest }}{% if count > 1 %} , {% endif %}
                {% endfor %}
            </h2>
        {% endif %}
        <br />
        <h3><i>Rating:</i></h3>
        <form action="{% url 'restaurant:rating' guest.id visit.id %}" method="post" class="menu_item">
              {% csrf_token %}
              <br />
              <input id = "rate" name = "rating" type="number" required min="1" max="5">
              <br />
              <input type="submit" id = "sf_submit" value="Rate">
              <br />
          </form>
    </section>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Internet Software Architectures 2015/16</p>
    <p class="fl_right">Dragan Vidaković RA 134/2012</p>
  </footer>
</div>
</body>
</html>
