<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<title>Restaurant</title>
<meta charset="utf-8">
    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'restaurant/layout.css' %}" type="text/css">
    <script src="{% static 'restaurant/sorttable.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'restaurant/datetimepicker.js' %}"></script>
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1>Restaurant</h1>
	  <h2>Welcome, {{ user.get_full_name }}</h2>
    </div>
    <nav>
      <ul>
          <li><a href="{% url 'restaurant:guest' guest.id %}">Home</a></li>
          <li><a href="{% url 'restaurant:restaurantlist' guest.id %}">Restaurants</a></li>
          <li><a href="{% url 'restaurant:friends' guest.id %}">Friends</a></li>
          <li><a href="{% url 'restaurant:profile' guest.id %}">Profile</a></li>
          <li class="last"><a href="{% url 'restaurant:logout' %}">Log Out</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
        <h1><i>Restaurant: </i>{{ reservation.restaurant.name }}</h1>
        <h2><i>Restaurant address: </i>{{ reservation.restaurant.address }}</h2>
        <br />
        <h2><i>Invite from: </i>{{ reservation.guest }}</h2>
        <br />
        <h2><i>Date and Time: </i>{{ reservation.coming }}</h2>
        <h2><i>Duration (h): </i>{{ reservation.duration }} <i>hour(s)</i></h2>
        <br />
        {% if error_message %}<p id="error">{{ error_message }}</p>{% endif %}
        {% if info_message %}<p id="info">{{ info_message }}</p>{% endif %}
        <br />
        {% if show %}
            <h1><a id="edit" href="{% url 'restaurant:acceptinvitation' guest.id reservation.id visit.id %}">Accept Invitation</a></h1>
            <h1><a id="delete" href="{% url 'restaurant:myreservations' guest.id %}">Decline Invitation</a></h1>
        {% endif %}
        <br />
        <br />
    </section>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Internet Software Architectures 2015/16</p>
    <p class="fl_right">Dragan Vidaković RA 134/2012</p>
  </footer>
</div>
</body>
</html>
