<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<title>Restaurant</title>
<meta charset="utf-8">
    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'restaurant/layout.css' %}" type="text/css">
    <script src="{% static 'restaurant/sorttable.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'restaurant/datetimepicker.js' %}"></script>
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1>Restaurant</h1>
	  <h2>Welcome, {{ user.get_full_name }}</h2>
    </div>
    <nav>
      <ul>
          <li><a href="{% url 'restaurant:guest' guest.id %}">Home</a></li>
          <li><a href="{% url 'restaurant:restaurantlist' guest.id %}">Restaurants</a></li>
          <li><a href="{% url 'restaurant:friends' guest.id %}">Friends</a></li>
          <li><a href="{% url 'restaurant:profile' guest.id %}">Profile</a></li>
          <li class="last"><a href="{% url 'restaurant:logout' %}">Log Out</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
        <h1>{{ restaurant.name }}</h1>
        <h2>{{ restaurant.description }}</h2>
        <br />
        <h2>{{ restaurant.address }}</h2>
        <br />
        <br />
        {% if error_message %}<p id="error">{{ error_message }}</p>{% endif %}
        <br />
        <br />
        <h2>New Reservation</h2>
        <br />
        <form action="{% url 'restaurant:makereservation' guest.id restaurant.id %}" method="post" class="menu_item">
              {% csrf_token %}
              <br />
              <h3>Selected Date and Time</h3>
              <input readonly id="demo3" name="datetime" type="text">
              <h3>Click to Select: <a href="javascript:NewCal('demo3','ddmmmyyyy',true,24)"><img src="{% static 'restaurant/cal.gif' %}" width="16" height="16" border="0" alt="Select Date and Time"></a></h3>
              <br />
              <h3>Duration (h)</h3>
              <input id= "rate" name = "duration" type="number" min="1" max="7" required>
              <br/>
              <input type="submit" id = "sf_submit" value="Continue">
              <br />
        </form>
    </section>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Internet Software Architectures 2015/16</p>
    <p class="fl_right">Dragan Vidaković RA 134/2012</p>
  </footer>
</div>
</body>
</html>
