<!DOCTYPE html>
<html>
<head>
<title>Restaurant</title>
<meta charset="utf-8">
    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'restaurant/layout.css' %}" type="text/css">
    <script src="{% static 'restaurant/sorttable.js' %}"></script>
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1>Restaurant</h1>
	  <h2>Welcome, {{ user.get_full_name }}</h2>
    </div>
    <nav>
      <ul>
          <li><a href="{% url 'restaurant:guest' guest.id %}">Home</a></li>
          <li><a href="{% url 'restaurant:restaurantlist' guest.id %}">Restaurants</a></li>
          <li><a href="{% url 'restaurant:friends' guest.id %}">Friends</a></li>
          <li><a href="{% url 'restaurant:profile' guest.id %}">Profile</a></li>
          <li class="last"><a href="{% url 'restaurant:logout' %}">Log Out</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
        <h1>List of Restaurants</h1>
        <br />
        <br />
        <table id="visits" class="sortable">
            <thead>
                <th>Restaurant</th>
                <th>Description</th>
                <th>Address</th>
                <th>Rating (5)</th>
                <th>Friends Rating (5)</th>
                <th>Menu</th>
                <th>Reservation</th>
            </thead>
            {% for restaurant, rr, rfr in restaurants %}
                <tr>
                    <td>{{ restaurant.name }}</td>
                    <td>{{ restaurant.description }}</td>
                    <td>{{ restaurant.address }}</td>
                    {% if rr > 0 %}
                        <td>{{ rr }}</td>
                        {% else %}
                        <td>N/A</td>
                    {% endif %}
                    {% if rfr > 0 %}
                        <td>{{ rfr }}</td>
                        {% else %}
                        <td>N/A</td>
                    {% endif %}
                    <td><a href="{% url 'restaurant:restaurantmenu' guest.id restaurant.id %}"><button id="edit">Menu</button></a></td>
                    <td><a href="{% url 'restaurant:reservationtime' guest.id restaurant.id %}"><button id="delete">Reserve</button></a></td>
                </tr>
            {% endfor %}
        </table>
    </section>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Internet Software Architectures 2015/16</p>
    <p class="fl_right">Dragan Vidaković RA 134/2012</p>
  </footer>
</div>
</body>
</html>
