<!DOCTYPE html>
<html>
<head>
<title>Restaurant</title>
<meta charset="utf-8">
    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'restaurant/layout.css' %}" type="text/css">
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1>Restaurant</h1>
	  <h2>Welcome, {{ user.get_full_name }}</h2>
    </div>
    <nav>
      <ul>
        <li><a href="{% url 'restaurant:manager' manager.id %}">Home</a></li>
           <li><a href="{% url 'restaurant:profiling' manager.id %}">Profile</a></li>
        <li class="last"><a href="{% url 'restaurant:logout' %}">Log Out</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
        <h1>{{ restaurant.name }}</h1>
        <h2>{{ restaurant.description }}</h2>
        <br />
        <h2>{{ restaurant.address }}</h2>
        <br />
        <br />
        <h3>Set Sitting Schedule: <b>{{ tables }}</b> Tables</h3>
        <br />
        <br />
        {% if error_message %}<p id="error">{{ error_message }}</p>{% endif %}
        <br />
        <br />
            <form action="{% url 'restaurant:setup' restaurant.id manager.id %}" method="post" class="schedule">
            {% csrf_token %}
                <table id="tables">
                    {% for i in rows %}
                        <tr>
                        {% for j in columns %}
                            <td class="table_cell">
                               {% for p in places %}
                                   {% if p.row == i and p.column == j %}
                                       <input type="number" class="table_place" name="{{ p.name }}" max="{{ tables }}" min="1">
                                   {% endif %}
                               {% endfor %}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <br/>
                <input type="submit" id = "sf_submit" value="Set">
            </form>
    </section>
    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Internet Software Architectures 2015/16</p>
    <p class="fl_right">Dragan Vidaković RA 134/2012</p>
  </footer>
</div>
</body>
</html>
