
html{overflow-y:scroll;} /* Forces a scrollbar when the viewport is larger than the websites content - CSS3 */

body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#919191; background-color:#417690;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

code{font-weight:normal; font-style:normal; font-family:Georgia, "Times New Roman", Times, serif;}

.fl_left{float:left;}
.fl_right{float:right;}

img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, nav, section{display:block; margin:0; padding:0;}

q{display:block; padding:0 10px 8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
q:before{content:'� '; font-size:26px;}
q:after{content:' �'; font-size:26px; line-height:0;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

.row1, .row1 a{color:#F5DD5D; background-color:#417690;}
.row2{color:#979797; background-color:#FFFFFF;}
.row2 a{color:#FF9900; background-color:#FFFFFF;}
.row3, .row3 a{color:#F5DD5D; background-color:#417690;}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer{display:block; width:960px; margin:0 auto;}

nav ul{margin:0; padding:0; list-style:none;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:16px; font-weight:bold; font-style:normal; line-height:normal; text-transform:uppercase;}

address{font-style:normal;}

blockquote, q{display:block; padding:8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
blockquote:before, q:before{content:'� '; font-size:26px;}
blockquote:after, q:after{content:' �'; font-size:26px; line-height:0;}

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:12px; font-family:Georgia,"Times New Roman",Times,serif;}

.one_quarter, .two_quarter, .three_quarter, .four_quarter{display:block; float:left; margin:0 20px 0 0;}
.one_quarter{width:225px;}
.two_quarter{width:470px;}
.three_quarter{width:715px;}
.four_quarter{width:960px; float:none; margin-right:0; clear:both;}

.one_third, .two_third, .three_third{display:block; float:left; margin:0 30px 0 0;}
.one_third{width:300px;}
.two_third{width:630px;}
.three_third{width:960px; float:none; margin-right:0; clear:both;}

.lastbox{margin-right:0;}

/*----------------------------------------------Header-------------------------------------*/

#header{padding:20px 0;}

#header #hgroup{float:left; margin:0 0 20px 0;}
#header #hgroup h1, #header #hgroup h2{font-weight:normal; text-transform:none;}
#header #hgroup h1{font-size:36px;}
#header #hgroup h2{font-size:13px;}

#header nav{display:block; float:right; margin:10px 0 0 0; padding:20px 0; color:#FFFFFF; background-color:#79AEC8;}
#header nav ul{padding:0 20px;}
#header nav li{display:inline; margin-right:25px; text-transform:uppercase;}
#header nav li.last{margin-right:0;}
#header nav li a{color:#FFFFFF; background-color:#79AEC8;}
#header nav li a:hover{color:#F5DD5D; background-color:#79AEC8;}

/*----------------------------------------------Content Area-------------------------------------*/

#container{padding:30px 0;}
#container section{display:block; width:100%; margin:0 0 50px 0; padding:0;}
#container .last{margin:0;}
#container .more{text-align:right;}

/* ------Slider-----*/

#container #slider{}
#container #slider figure{}
#container #slider figure img{float:right; width:570px; height:320px;}
#container #slider figure figcaption{display:block; float:left; width:320px; height:320px; padding:20px; overflow:hidden; color:#333; background-color:#DEDEDE; line-height:1.6em;}
#container #slider figure figcaption a{color:#FF9900; background-color:#DEDEDE;}
#container #slider figure h2{font-size:42px; font-weight:normal; font-style:italic; text-transform:none;}
#container #slider figure footer{}

/* ----- Forms ------ */
#container #slider form {display: block; width: 290px; float: none; margin: auto; padding: 0;}
#container #slider form input {display: block; float: none; width: 200px; margin: auto; padding: 5px; border:1px solid #666666;}
#container #slider form #date {float: none; margin: auto;}
#container #slider form #sf_submit {display: block; float: none; margin:auto; width: 70px; font-size: 12px; font-weight: bold; color:#FFFFFF; background-color: #79AEC8; border: none; cursor: pointer;}
#container #slider form #register {display: block; float: none; margin: auto; color: #417690; text-align: center;}
#error {display: block; float: none; margin: auto; color: red; text-align: center;}
#info {display: block; float: none; margin: auto; color: blue; text-align: center;}
#showed {display: block; float: none; margin: auto; color: black; text-align: center; font-size: 10px;}
#container #slider form #description {height: 100px; width: 205px; display: block; float: none; margin: auto;}
#container #slider form #price {width: 100px; text-align: center;}
#container #slider form #rate {width: 50px; text-align: center; font-size: 20px;}
#container #slider form input.table_place {width: 40px;  text-align: center; font-size: 15px;}
#container #slider .schedule {display: block; float: none; margin: auto; width: auto;}
#container #slider td.table_cell {height: 50px;}
#container #slider #tables {border: 1px solid black;}
/* ----- Restaurant Description in Manager's homepage ---- */
#container h1 {display: block; float: none; margin: auto; font-size: 30px; font-weight: bold; text-align: center;}
#container h2 {display: block; float: none; margin: auto; font-size: 20px; font-weight: bold; text-align: center;}
#container h3 {display: block; float: none; margin: auto; font-size: 15px; text-align: center; font-weight: normal;}
#container #button {display: block; float: none; margin:auto; width: 250px; font-size: 17px; color:#FFFFFF; background-color: #79AEC8; border: 2px solid; cursor: pointer; padding: 3px;}

/* ------ Restaurant Table display ------ */
table#tables {margin-left: auto; margin-right: auto; width: 100%; border-spacing: 20px;}
table#tables td {text-align: center; border: 1px solid; width: auto; font-size: 30px; border-radius: 10px;  background-color: #EDD3BB;}

/* ------ Menu Display -------- */
table#menus {margin-left: auto; margin-right: auto; width: 100%; border: 2px solid black; border-radius: 5px; text-align: center;}
table#menus th{color: #FFFFFF; background-color: #79AEC8;}
table#menus td{border-left: 1px solid grey; border-right: 1px solid grey; border-top: 1px solid grey;}
#container #delete {display: block; float: none; margin: auto; font-size: 15px; color: #FFFFFF; background-color: #BA2121; border: 2px solid; cursor: pointer; padding: 3px;}
#container #edit {display: block; float: none; margin: auto; font-size: 15px; color: #FFFFFF; background-color: #79AEC8; border: 2px solid; cursor: pointer; padding: 3px;}

/* ------ Visits ------*/
table#visits {margin-left: auto; margin-right: auto; width: 100%; border: 2px solid black; border-radius: 5px; text-align: center; font-size: 20px;}
table#visits th{color: #FFFFFF; background-color: #79AEC8;}
table#visits td{border-left: 1px solid grey; border-right: 1px solid grey; border-top: 1px solid grey;}

/* ------Main Content-----*/

#container #homepage{display:block; width:100%; line-height:1.6em;}

#container #homepage #services{}
#container #homepage #services article{}
#container #homepage #services article h2{font-size:14px; margin-bottom:15px;}
#container #homepage #services article p{margin:0; padding:0;}
#container #homepage #services article img{float:left; width:80px; height:80px; margin:0 10px 10px 0; padding:4px; border:1px solid #DEDEDE;}
#container #homepage #services article footer{margin:10px 0 0 0;}

#container #homepage #latest{}
#container #homepage #latest article{}
#container #homepage #latest article figure{}
#container #homepage #latest article figure img{margin:0 0 10px 0; padding:4px; border:1px solid #D6D6D6;}
#container #homepage #latest article figure figcaption{}
#container #homepage #latest article figure h2{font-size:14px;}
#container #homepage #latest article figure footer{}

/*----------------------------------------------Footer-------------------------------------*/

#footer{padding:20px 0;}
#footer p{margin:0; padding:0;}